# EDA Notebook

## 1. Importar librerías necesarias
Importar pandas, numpy, matplotlib y seaborn para el análisis y visualización de datos.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Cargar el archivo CSV
Solicitar al usuario la ruta del archivo .csv y cargarlo en un DataFrame de pandas.

In [2]:
# Change this path to point to your data file
file_path = "../data/raw/2064.csv"
df = pd.read_csv(file_path, sep=";", encoding="latin-1", na_values=[".", ""])

## 3. Visualizar las primeras filas del dataset
Mostrar las primeras filas del DataFrame usando head() para obtener una vista general de los datos.

In [3]:
df.head()

,ï»¿Provincias con mayor nÃºmero de pernoctaciones,Establecimientos y personal empleado (parcelas),Periodo,Total
0,02 Albacete,NÃºmero de establecimientos abiertos estimados,2025M12,NaN
1,02 Albacete,NÃºmero de establecimientos abiertos estimados,2025M11,NaN
2,02 Albacete,NÃºmero de establecimientos abiertos estimados,2025M10,6
3,02 Albacete,NÃºmero de establecimientos abiertos estimados,2025M09,5
4,02 Albacete,NÃºmero de establecimientos abiertos estimados,2025M08,7

## 4. Explorar información general del dataset
Utilizar info() y shape para mostrar información sobre el número de filas, columnas y tipos de datos.

In [4]:
df.info()
print(f"Número de filas: {df.shape[0]}")
print(f"Número de columnas: {df.shape[1]}")

<class 'pandas.DataFrame'>
RangeIndex: 88200 entries, 0 to 88199
Data columns (total 4 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   ï»¿Provincias con mayor nÃºmero de pernoctaciones  88200 non-null  str
 1   Establecimientos y personal empleado (parcelas)    88200 non-null  str
 2   Periodo                                            88200 non-null  str
 3   Total                                              51835 non-null  str
dtypes: str(4)
memory usage: 2.7 MB
Número de filas: 88200
Número de columnas: 4

# (EXTRA 1). Limpieza primaria del dataset
Realizamos una primera limpieza exploratoria del dataset para tratar los datos a partir del 2017. Para ello, debemos de tratar el campo que almacena este dato como un entero

In [5]:
df["year"] = df["Periodo"].str[:4].astype(int)
df = df[df["year"] >= 2017]

Viendo los datos de los otros campos del notebook, vemos que quedan **37800** filas dentro de el CSV limpio, lo cual tiene sentido puesto que 50 × 7 × 12 × 9 ≈ 37.800 (50 provincias, 7 variables, 12 meses, 9 años)

## Convertir TOTAL en float sin romper los datos

Primeramente vamos a ver que datos tenemos para ver que limpieza poder aplicar

In [6]:
df["Total"].unique()[:20]

<StringArray>
[    nan,     '6',     '5',     '7',     '4',     '3',     '0',     '8',
     '9', '3.541', '2.878', '3.623', '3.313', '3.099', '2.915', '2.912',
 '2.611', '3.028', '3.109', '3.310']
Length: 20, dtype: str

Visto estos resultados, tenemos que realizar una transforamción a float pero primeramente tenemos que quitar los puntos de miles, para que no sean tratados como decimales.

In [7]:
# Eliminar puntos de miles
df["Total"] = df["Total"].str.replace(".", "", regex=False)

# Convertir a numérico
df["Total"] = pd.to_numeric(df["Total"], errors="coerce")

# Verificar
print(df["Total"].dtype)
df["Total"].head(10)

float64

0    NaN
1    NaN
2    6.0
3    5.0
4    7.0
5    6.0
6    5.0
7    5.0
8    5.0
9    4.0
Name: Total, dtype: float64

In [8]:
df["Total"].max()

np.float64(937197.0)

## Convertir PERIODO en fecha real

In [9]:
# Extraer mes
df["month"] = df["Periodo"].str[5:7].astype(int)

# Crear fecha
df["date"] = pd.to_datetime(dict(year=df["year"], month=df["month"], day=1))

df[["Periodo", "date"]].head()

   Periodo       date
0  2025M12 2025-12-01
1  2025M11 2025-11-01
2  2025M10 2025-10-01
3  2025M09 2025-09-01
4  2025M08 2025-08-01

## Pivotar variables
Actualmente las 7 métricas están en filas, pero necesitamos convertirlas en columnas
El objetivo sería obtener algo de este estilo: 
|Provincia|Fecha|Establecimientos|Parcelas|Ocupacion|Personal|

Para ello primeramente veamos como se llaman exactamente las variables

In [10]:
df["Establecimientos y personal empleado (parcelas)"].unique()

<StringArray>
[  'NÃºmero de establecimientos abiertos estimados',
                      'NÃºmero de plazas estimadas',
                              'NÃºmero de parcelas',
                                'Parcelas ocupadas',
                 'Grado de ocupaciÃ³n por parcelas',
 'Grado de ocupaciÃ³n de parcelas en fin de semana',
                                'Personal empleado']
Length: 7, dtype: str

Primeramente, vamos a renombrar las columnas con nombres largos a nombres más simples

In [11]:
df = df.rename(columns={
    "ï»¿Provincias con mayor nÃºmero de pernoctaciones": "provincia",
    "Establecimientos y personal empleado (parcelas)": "variable"
})

In [12]:
df.columns

Index(['provincia', 'variable', 'Periodo', 'Total', 'year', 'month', 'date'], dtype='str')

Y finalmente, lo que vamos a hacer es que
* Para cada provincia
* Para cada fecha
Cada variable pasará a ser una columna y su valor será total

In [13]:
df_pivot = df.pivot_table(
    index=["provincia", "date"],
    columns="variable",
    values="Total",
    aggfunc="first"
).reset_index()

df_pivot.head()

variable,provincia,date,Grado de ocupaciÃ³n de parcelas en fin de semana,Grado de ocupaciÃ³n por parcelas,NÃºmero de establecimientos abiertos estimados,NÃºmero de parcelas,NÃºmero de plazas estimadas,Parcelas ocupadas,Personal empleado
0,01 Araba/Ãlava,2024-03-01,NaN,NaN,3.0,500.0,1586.0,7876.0,34.0
1,01 Araba/Ãlava,2024-04-01,NaN,NaN,3.0,540.0,1712.0,8107.0,59.0
2,01 Araba/Ãlava,2024-05-01,NaN,NaN,3.0,531.0,1712.0,9050.0,65.0
3,01 Araba/Ãlava,2024-06-01,77.0,NaN,3.0,540.0,1712.0,9110.0,72.0
4,01 Araba/Ãlava,2024-07-01,NaN,NaN,3.0,531.0,1712.0,10040.0,72.0

Finalmente, lo que vamos a hacer es cambiar los nombres de las columnas para que sea más fácil trabajar con ellas:

In [15]:
df_pivot = df_pivot.rename(columns={
    "NÃºmero de establecimientos abiertos estimados": "Establecimientos",
    "NÃºmero de plazas estimadas": "Plazas",
    "NÃºmero de parcelas": "Parcelas",
    "Parcelas ocupadas": "Parcelas_Ocupadas",
    "Grado de ocupaciÃ³n por parcelas": "Ocupacion_Parcelas",
    "Grado de ocupaciÃ³n de parcelas en fin de semana": "Ocupacion_finde",
    "Personal empleado": "Personal"
})

## 5. Describir variables numéricas y categóricas
Usar describe() para variables numéricas y value_counts() para variables categóricas.

In [ ]:
# Numerical variables
df.describe()

# Categorical values (Example for a columnn)
# df['category_column'].value_counts()

## 6. Visualizar valores nulos y duplicados
Identificar y visualizar la cantidad de valores nulos y filas duplicadas en el dataset.

In [ ]:
# Null values
df.isnull().sum()

# Duplicated rows
df.duplicated().sum()

## 7. Análisis univariado de variables numéricas
Realizar histogramas y boxplots para analizar la distribución de las variables numéricas.

In [ ]:
# Histogram for a numerical variable
# df['numeric_column'].hist()
# plt.show()

# Boxplot
# df.boxplot(column='numeric_column')
# plt.show()

## 8. Análisis univariado de variables categóricas
Realizar gráficos de barras para analizar la frecuencia de las variables categóricas.

In [ ]:
# Bar plot for a categorical variable
# df['categorical_column'].value_counts().plot(kind='bar')
# plt.show()

## 9. Análisis bivariado entre variables
Explorar relaciones entre variables numéricas y categóricas mediante scatterplots y tablas cruzadas.

In [ ]:
# Scatterplot
# plt.scatter(df['numeric_column_x'], df['numeric_column_y'])
# plt.show()

# Crosstab for two categorical variables   
# pd.crosstab(df['categorical_column1'], df['categorical_column2'])

## 10. Visualización de correlaciones
Calcular y visualizar la matriz de correlación entre variables numéricas usando un heatmap.

In [ ]:
# Correlation matrix
corr = df.corr()
sns.heatmap(corr, annot=True)
plt.show()

# 11. TESTs
## cleaning.py

Vamos a usar una función dada por ChatGPT que lo que hace es: "Python busca módulos un nivel más arriba"

In [17]:
import sys
import os

# Añadir la raíz del proyecto al path
project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.append(project_root)

In [18]:
from src.io import load_csv
from src.cleaning import clean
from src.config import RAW_PATH

df_raw = load_csv(RAW_PATH)
df_clean = clean(df_raw)

df_clean.head()
df_clean.shape

(3484, 9)

## features.py

In [19]:
from src.features import build_features

df_final = build_features(df_clean)

df_final.head()
df_final.tail()

variable,provincia,date,Ocupacion_finde,Ocupacion_Parcelas,Establecimientos,Parcelas,Plazas,Parcelas_Ocupadas,Personal,empleados_por_establecimiento,empleados_por_parcela,parcelas_por_establecimiento
3479,50 Zaragoza,2025-08-01,NaN,NaN,16.0,1322.0,4507.0,19246.0,107.0,6.6875,0.080938,82.625
3480,50 Zaragoza,2025-09-01,NaN,NaN,14.0,1181.0,4019.0,12153.0,75.0,5.357143,0.063506,84.357143
3481,50 Zaragoza,2025-10-01,NaN,NaN,14.0,1133.0,3912.0,11374.0,76.0,5.428571,0.067079,80.928571
3482,50 Zaragoza,2025-11-01,NaN,NaN,10.0,652.0,2306.0,5130.0,65.0,6.5,0.099693,65.2
3483,50 Zaragoza,2025-12-01,NaN,NaN,8.0,570.0,1940.0,3095.0,66.0,8.25,0.115789,71.25

In [ ]:
df_final.describe()

# Bloque Estratégico de A Coruña
El objetivo del bloque es responder a la siguiente pregunta
    **¿Existe presión de demanda suficiente en A Coruña como para justificar una nueva apertura o amplicación?**

Para ello, necesitamos analizar tres variables clave:
* 1️⃣ Evolución de la ocupación
* 2️⃣ Evolución de la oferta (establecimientos)
* 3️⃣ Intensidad laboral (impacto operativo)

Primeramente, **aislaremos A Coruña**, pero para ello vamos a hacer un pequeño ajuste para obtener los códigos provinciales para trabajar con números en vez de con strings

In [22]:
df_final["codigo_provincia"] = df_final["provincia"].str.split().str[0].astype(int)

df_final[["provincia", "codigo_provincia"]].head()

variable        provincia  codigo_provincia
0         01 Araba/Ãlava                 1
1         01 Araba/Ãlava                 1
2         01 Araba/Ãlava                 1
3         01 Araba/Ãlava                 1
4         01 Araba/Ãlava                 1

Ahora podemos trabajar con la provincia de A Coruña facilmente

In [24]:
coruna = df_final[df_final["codigo_provincia"] == 15]

coruna.head()

variable,provincia,date,Ocupacion_finde,Ocupacion_Parcelas,Establecimientos,Parcelas,Plazas,Parcelas_Ocupadas,Personal,empleados_por_establecimiento,empleados_por_parcela,parcelas_por_establecimiento,codigo_provincia
988,"15 CoruÃ±a, A",2017-01-01,NaN,NaN,6.0,1154.0,3498.0,1342.0,24.0,4.0,0.020797,192.333333,15
989,"15 CoruÃ±a, A",2017-02-01,NaN,NaN,8.0,1307.0,4019.0,3395.0,29.0,3.625,0.022188,163.375,15
990,"15 CoruÃ±a, A",2017-03-01,NaN,NaN,9.0,1422.0,4501.0,3734.0,30.0,3.333333,0.021097,158.0,15
991,"15 CoruÃ±a, A",2017-04-01,NaN,NaN,14.0,1982.0,6167.0,6362.0,47.0,3.357143,0.023713,141.571429,15
992,"15 CoruÃ±a, A",2017-05-01,NaN,NaN,15.0,2122.0,6584.0,8697.0,53.0,3.533333,0.024976,141.466667,15